.space-card-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  width: 35%;
  border: 1px solid black;
  margin: 10px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.more-button {
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.more-button-inner {
  padding: 10px;
  /* border-radius: 999rem; */
}
