.error-message {
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

.edit-form-main {
  justify-content: center;

  width: 100%;
  margin-top: -1rem;
}

.form-field {
  width: 50%;
  padding-top: 1rem;
}

.form-field-inner {
  width: 50%;
  padding-top: 1rem;
}

.color-input {
  width: 100%;
}

.image-preview-call {
  margin: 2rem 0;
}

.button-inner {
  display: flex;
  align-items: baseline;
}

.paper-plane {
  margin-left: 5px;
}
